#!/bin/bash

set -o errexit
set -o nounset
set -o pipefail

# Remove empty snapshots
find {{ solana_ledger_dir }} -name 'snapshot-*' -size 0 -print -exec rm {} \; || true

export RUST_LOG={{ solana_log_level }}
export RUST_BACKTRACE=full
export LimitNOFILE=1000000

exec {{ solana_validator_binary_prefix }}-validator \
    --ledger {{ solana_ledger_dir }} \
    --bind-address {{ solana_external_address }} \
    --gossip-port {{ solana_gossip_port }} \
    --full-rpc-api \
    --rpc-bind-address {{ solana_rpc_bind_address }} \
    --private-rpc --identity {{ solana_data_dir }}/identity.json \
    --entrypoint entrypoint.pythnet.pyth.network:8001 \
    --limit-ledger-size \
    --rpc-port {{ solana_rpc_port }} \
    --expected-genesis-hash GLKkBUr6r72nBtGrtBPJLRqtsh8wXZanX4xfnqKnWwKq \
    --wal-recovery-mode skip_any_corrupted_record \
    --account-index program-id \
    {% if solana_vote_account_enabled %} --vote-account {{ solana_data_dir }}/vote.json --only-known-rpc {% endif %} \
    {% if not solana_vote_account_enabled %} --no-voting {% endif %} \
    --log {{ solana_data_dir }}/logs/solanalog
